.store-content {
  --padding-top: 16px;
}

ion-card {
  border-radius: 16px;
  overflow: hidden;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

ion-card-title {
  font-size: 18px;
  font-weight: bold;
}

ion-card-subtitle {
  color: #e91e63;
  font-size: 16px;
}
